.main-wrapper {
    display: grid;
    /* grid-template-rows: 220px max-content 155px; */
}

.content-container {
    background-color: #F9FCFF;
    padding: 0 20vw;
    overflow-x: hidden;
}

.wide-container {
    padding: 0 10vw;
}

.full {
    width: 100%;
}

.fuller {
    width: 150%;
}

.half {
    width: 50%;
}

.quarter {
    width: 25%;
}

.container {
    color: #333;
    margin: 0 auto;
}

.margin-100 {
    margin-bottom: 100px;
}

.twoCol-left {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.twoCol-right {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.twoCol-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media (max-width: 768px) {
    .container {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 530px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .twoCol-left, .twoCol-right, .twoCol-center {
        grid-template-columns: 1fr;
    }
}

* {  box-sizing: border-box; }

/* Better to style based in classes for customization ease? */

/* ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin-top: 20px;
  padding: 0 10px;
} */
