@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 20px;
    color:#656565;
}

.full-width {
    width: 100%;
}

section {
    padding: 2rem 0;
}

.greyback .content-container {
    background: #eee;
}

h1 {
    color: #333333;
    font-size: 68px;
    font-weight: 600;
}

h2 {
    border-bottom: 1px solid #878787;
    font-size: 30px;
    padding: 70px 0 30px 0;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: lowercase;
    padding-bottom: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #333333
}

section h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3.light {
    font-weight: 400;
    color: #737373;
    font-size: 24px;
}

h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

section h5 {
    background: #dadada;
    margin-bottom: 5px;
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
    width: 100%;
}

.intro {
    color:#737373;
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 1.4;
}

.intro-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F9FCFF;
}

.page-heading {
    margin-bottom: 15px;
    margin-top: 15px;
}

.description {
    color:#737373;
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 20px;
    max-width: 540px;
}

.greyback h5 {
    background: #fff;
}

.logos {
    display: flex;
    margin-bottom: 10px;
    width: 66%;
}

.logos img {
    width: 31%;
    margin-right: 2%;
    padding-bottom: 15px;
}

.image-grid, .hifi-dash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.hifi-dash {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.biglink {
    background-size: 200% auto;
    border: none;
    border-radius: 10px;
    color: #F9FCFF;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
    width: 50%;
    text-decoration: none;
    text-align: center;
    transition: .5s;
}

/* I wanted the button gradient to move to the right when hovered on, but it didnt work. */
.biglink:hover {
    background-position: right center;
}

.background-herolink, .background-btn {
    background-image: linear-gradient(to right, #5850DE 0%, #31C8C8 50%, #458BD3 100%);
}

.background-btn {
    width: 50%;
}

.button-margin {
    margin-bottom: 40px;
}

.octa-hero {
    background-image: url(/images/octa-mockups.png);
    background-size: 70%;
    height: 60vh;
    overflow: hidden;
    padding: 0 0;
    background-position: right;
    background-color: none;
    background-repeat: no-repeat;
}

.bio-back {
    background-color: #F9FCFF;
    padding-top: 20px;
}

/* .overlay {
    background-color: rgba(222,222,222,0);
    overflow: hidden;
    width: 100%;
    height: 100%;
} */

/* .img.full.me {
    padding-bottom: 20 20 20;
} */

@media (max-width: 900px) {
    .octa-hero {
        background-size: 100%;
        background-position: 300px;
    }
}

@media (max-width: 768px) {
        .octa-hero {
            background-size: 180%;
            background-position: center;
        }

        .overlay {
            background-color: rgba(222,222,222,.9);
        }
}

/* @media (max-width: 530px) {
    .responsive-copyright {
        width: 100%;
    }
} */

.main-logo {
    width: 50px;
}

.main-content {
    display: flex;
    align-items: center; 
    height: 100%;
}

.bio-hero {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.prob, .prod {
    display: flex;
    align-items: center;
}

ul {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.stories li {
    margin-top: 20px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 1.7;
    margin: 10px 0 10px 15px;
}

.stories li:last-child {
    margin-bottom: 50px;
}

.stories li::before {
    content: "– ";
    margin-left: -25px;
}

* {  box-sizing: border-box; }

/***** Header Styles *****/

header {
    background-color: #F9FCFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    width: 300px;
}

.main-nav__link {
    color: #555555;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.main-nav__link:hover {
    color: #6C63FF;
}

/* Footer Styles */

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 1px solid #878787;
    padding-top: 40px;
    padding-bottom: 80px;
}

.copyright-img {
    width: 12px;
    margin-right: .5rem;
}

.copyright-text {
    margin: 0;
    margin-right: auto;
}

.social-media {
    display: flex;
    align-items: center;
    min-width: 320px;
    justify-content: space-between;
}

.sm-icon {
    color: #555;
}

.sm-icon:hover {
    color: #6C63FF;
}

.wireframes li {
        margin-top: 20px;
        padding: 0 10px;
        font-size: 18px;
        margin: 10px 0 10px 15px;
        color: #656565;
}

.wireframes li::before {
    /* content: "– "; */
    margin-left: -px;
    font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  padding: 2rem 0 10rem 0;
}

@media (max-width: 530px) {
    .biglink, .logos {
        width: 100%;
    }
}

