@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700&display=swap');

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#main-container {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* Make sure the hamburger menu is hidden on mobile */
    overflow-x: hidden;
    position: relative;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 20px;
    color:#656565;
}

.italic {
    font-size: 14px;
    font-weight: 400;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    color: #737373;
    font-style: italic;
}


h6 {
    font-weight: 700px;
    font-size: 18px;
    text-transform: uppercase
}

.full, .full-width {
    width: 100%;
}

.illus {
    margin-top: 20px;
}

section {
    padding: 2rem 0;
}

section.greyback, .greyback .content-container {
    background: #eee;
}

.product {
    position: relative;

    /* background-image: url("/images/stamps-img.png"); */
    /* background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.product:hover .product-overlay {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.product h3 {
    position: absolute;
    display: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    transition: all 0.5s ease;
}

.product:hover h3 {
    display: block;
    color: #fff;
}

h1 {
    color: #333333;
    font-size: 68px;
    font-weight: 600;
}

h2 {
    border-bottom: 1px solid #878787;
    font-size: 30px;
    padding: 70px 0 30px 0;
}

h3 {
    color: #333333;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 20px;
    text-transform: lowercase;
}

.quote {
    border-top: 10px solid #878787;
    border-bottom: 1px solid #878787;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas: "quote"
                         "about";
}

.quote-about {
    grid-area: about;
}

.quote-text {
    grid-area: quote;
}

@media (min-width: 768px) {
    .quote {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "about quote";
    }
}

.quote-img {
    background-image: url("../images/aaron-pic-2x.png");
    background-size: cover;
    border-radius: 150px;
    height: 180px;
    width: 180px;
  }

  /* .child h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    margin-bottom: 1.5rem;
  }

  .child h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
  } */

  .quote-img img {
    width: 100%;
  }

  .quote h3 {
    font-size: 22px;
    line-height: 1.8;
    /* margin-top: 20px; */
 }

 .quote div {
    /* margin-top: 20px; */
    text-align: center;
 }
section h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3.light {
    font-weight: 400;
    font-size: 24px;
}

h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

section h5 {
    background: #EEEEEE;
    margin-bottom: 5px;
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
    width: 100%;
}

.intro {
    color:#737373;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 1.4;
    width: 100%;
}

@media (min-width: 768px) {
    .intro {
        color:#737373;
        font-size: 34px;
        width: 70%;

    }
}

.intro-section {
    padding-top: 60px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}

.logo-home {
font-size: 32px;
}

.profile-sketch {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -9rem;
}

.profile-sketch img {
    width: 100%;
}

@media (min-width: 500px) {
    .profile-sketch img {
        width: 500px;
    }
}

@media (max-width: 1390px) {
    .profile-sketch {
        margin-top: 0;
    }
}

.bold {
    font-weight: bold;
}

.page-heading {
    margin-bottom: 15px;
    margin-top: 15px;
}

.description {
    color:#737373;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 20px;
    max-width: 600px;
}

.greyback h5 {
    background: #FFFFFF;
}

.logos {
    display: flex;
    margin-bottom: 10px;
    width: 66%;
}

.logos-myclick-competition {
    width: 100%;
}

.logos img {
    align-self: center;
    margin-right: 2%;
    padding-bottom: 15px;
    width: 31%;
}

.cell-user-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

@media (min-width: 530px) {
    .cell-user-grid {
        grid-template-columns: 35% 65%;
    }
}

.wide-wire {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* background-color: green; */
    margin-bottom: 2rem;
    width: 100%;
}

.wide-wire img {
    width: 100%;
}

.flows {
    background-image: url(../images/flows-img-big.png);
}

.flows .content-container {
    background: none;
}

.image-grid, .hifi-dash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.hifi-dash {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.biglink {
    background-size: 200% auto;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
    width: 50%;
    text-decoration: none;
    text-align: center;
    transition: .5s;
}

.greyback .biglink {
    /* width: 100%; */
    width: 300px;
}

.octa-hero .biglink {
    width: 300px;
}

.homebtn, #herobtn {
    width: 300px;
}

/* I wanted the button gradient to move to the right when hovered on, but it didnt work. */
.biglink:hover {
    background-position: right center;
}

.background-herolink, .background-btn {
    background-image: linear-gradient(to right, #5850DE 0%, #458BD3 25%, #31C8C8 50%, #458BD3 75%, #5850DE 100%);
}

.background-btn.sili-btn {
    background-image: linear-gradient(to right, #A83082 0%, #EE008C 25%, #FAA619 50%, #EE008C 75%, #A83082 100%);
}

.background-btn.cs-btn {
    background-image: linear-gradient(to right, #27A8E2 0%, #27A8E2 25%, #6789FF 50%, #27A8E2 75%, #27A8E2 100%);
}

.background-btn.cell-btn {
    background-image: linear-gradient(to right, #FAAA4F 0%, #FC773F 25%, #FF4C00 50%, #FC773F 75%, #FAAA4F 100%);
}

.background-btn.myclick-btn {
    background-image: linear-gradient(to right, #4D814A 0%, #3C5B3A 25%, #222321 50%, #3C5B3A 75%, #4D814A 100%);
}

.background-btn {
    width: 300px;
}

.button-margin {
    margin-bottom: 40px;
}

.octa-hero, .cell-hero {
    margin-bottom: 40px;
    background-image: url(/images/octa-mockups.png);
    background-size: 70%;
    height: 60vh;
    min-height: 456px;
    overflow: hidden;
    padding: 0 0;
    background-position: right;
    background-color: none;
    background-repeat: no-repeat;
    background-color: #eeeeee;
}

.hero-flex-wrapper {
    display: flex;
    padding: 2rem 7rem;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    max-width: 1700px;
}

.care-hero {
    margin-bottom: 40px;
    height: 575px;
    min-height: 456px;
    padding: 0 0;
    background-color: #E8F3FF;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.care-hero-logo {
    width: 357px;
    padding-bottom: 15px;
}

.flex-hero-home-left {
    padding: 1rem;
    width: 40%;
    color: #737373;
}

.flex-hero-home-left h2 {
    font-size: 40px;
    padding: 0 0 20px 0;
    border-bottom: none;
}

.flex-hero-home-left h3 {
    font-size: 20px;
    color: #737373;
    font-weight: 400;
}

.flex-hero-home-left h4 {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
}

.flex-hero-home-left h4.light {
    font-weight: 400;
}

.flex-hero-home-left h5 {
    font-size: 14px;
    font-style: italic;
    text-transform: initial;
    padding: 0 0 0 0;
    line-height: 1.4;
    background: none;
    margin-bottom: 20px;

}

.flex-hero-right {
    width: 864px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.myclick-hero {
   background-color: #FFFFFF;
}

.myclick-hero-brochure {
    width: 100%;
}


@media (min-width: 1460px) {
    /* Makes sure it doesn't get cut off */
    .myclick-hero-brochure {
        width: 90%;
    }
}

.cellwize-hero {
    margin-bottom: 40px;
    color: #fff;
}

.cellwize-hero .flex-hero-home-left {
    color: #fff;
}

.cellwize-hero h3 {
    color: #fff;
}

.cellwize-description {
    color: #f0f0f0;
    width: auto;
}

.cellwize-logo {
    width: 300px;
}

.cellwize-hero-img {
    width: 790px;
}

.cellwize-label {
    margin: 2rem 0 1rem 0;
}

@media (max-width: 1380px) {
    .hero-flex-wrapper {
        padding: 2rem 5rem;
    }

    .flex-hero-right {
        width: 700px;
    }

    .cellwize-hero-img {
        width: 600px;
    }
}

@media (max-width: 1180px) {
    .hero-flex-wrapper {
        padding: 2rem;
    }

    .cellwize-hero-img {
        width: 500px;
    }
}

@media (max-width: 1000px) {
    .hero-flex-wrapper {
        padding: 2rem 1rem;
        flex-direction: column;
    }

    .care-hero {
        height: 780px;
    }

    .flex-hero-home-left {
        order: 2;
        width: 100%;
    }

    .flex-hero-right, .cellwize-hero-img {
        width: 500px;
    }
}

@media (max-width: 530px) {
    .hero-flex-wrapper {
        justify-content: flex-start;
    }

    .flex-hero-right, .cellwize-hero-img {
        width: 450px;
    }

    .flex-hero-home-left {
        width: 100%;
    }
}

.hero {
    background-color: 291568;
    /* height: 80vh; */
    width: 100%;
}

.hero-mobile {
    display: block;
}

.hero-grid {
    grid-template-areas: "right"
                         "left";
    grid-template-columns: 1fr;
}

@media (min-width: 530px) {
    .hero-mobile {
        display: none;
    }
}

@media all and (min-width: 500px) {
    .hero-grid {
        grid-template-areas: "left right";
        grid-template-columns: 1fr 3fr;
      }
  }

/* what I tried to get mobile text down: */
/* @media (min-width: 530px {
    .mobile-intro {
        font-size: 26px;
    }
} */


.cell-hero {
    background-image: url(/images/cellwize-hero.png);
    background-size: 60%;
    background-position: right 25px bottom 100px;
    background-color: #291568;
}

.care-hero .intro {
    width: 100%;
}

.cell-hero .intro {
    width: 100%;
    color: #fff;
}

.bio-back {
    background-color: #FFFFFF;
    padding-top: 20px;
}


@media (max-width: 900px) {
    .octa-hero {
        background-size: 100%;
        background-position: 300px;
    }
}

@media (max-width: 768px) {
        .octa-hero {
            background-size: 180%;
            background-position: center;
            height: 80vh;

        }

        .overlay {
            background-color: rgba(255,255,255, .9);
        }

        .care-hero {
            background-image: none;
        }

        .care-hero .overlay {
            background-color:  rgba(196, 196, 196, 0);

        }

        .homebtn {
            width: 100%;
        }
}

/* @media (max-width: 530px) {
    .responsive-copyright {
        width: 100%;
    }
} */

.main-logo {
    width: 50px;
}

.main-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.bio-hero {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.hero-text {
    margin-top: 300px;
}



.pink-back {
    background-image: linear-gradient(to right, rgba(212,2,134,1) 40%,rgba(237,1,140,.4));
    padding: 20px;
}

.pink-back h1, .pink-back p {
    color: #fff;
}

.sili-hero-img {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.sili-hero-img img {
    height: 100%;
    width: auto;
}

@media (max-width: 768px) {
    .bio-hero h1 {
        font-size: 3rem;
    }
}

@media (max-width: 530px) {
    .bio-hero {
        grid-template-columns: 1fr;
    }
}

.prob, .prod {
    display: flex;
    align-items: center;
}

ul {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.stories li, .wireframes li {
    margin-top: 20px;
    /* padding: 0 10px; */
    font-size: 18px;
    line-height: 1.7;
    margin: 10px 0 10px 15px;
    color: #565656;
}

.stories li:last-child {
    margin-bottom: 50px;
}

.stories li::before, .wireframes li::before {
    content: "– ";
    margin-left: -13px;
}

.persona {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: -5px;
}

.persona-healthadmin, .persona-nurse, .persona-sysadmin {
    grid-template-areas: "title"
                         "image"
                         "text";
}

.inside-space {
    border-top: 1px #ddd solid;
    margin-top: 4rem;
    padding-top: 4rem;
}

@media (min-width: 530px) {
    .persona-healthadmin {
        grid-template-areas: ". title"
                             "image text";
    }
    .persona-nurse, .persona-sysadmin {
        grid-template-areas: "title ."
                             "text image";
    }
}

.product-image {
    grid-area: image;
}

.product-title {
    grid-area: title;
}

.product-text {
    grid-area: text;
}


* {  box-sizing: border-box; }

/***** Header Styles *****/

header {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    width: 300px;
}

@media (max-width: 530px) {
    .main-nav {
        width: 70%;
    }
}

.main-nav__link {
    color: #555555;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    /* padding-bottom: 50px; */
}

.main-nav__link:hover {
    color: #6C63FF;
}

/* Footer Styles */

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    background-color: #FFFFFF;
}

.footer-content {
    display: grid;
    grid-template-areas: "copy social";
    width: 100%;
    height: 100%;
    border-top: 1px solid #878787;
    padding-top: 40px;
    padding-bottom: 80px;
}

.learned {
    margin-top: 4rem;
}

.copyright {
    grid-area: copy;
}

.social-media {
    grid-area: social;
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-areas: "social"
                             "copy";
    }

    .copyright {
        margin-top: 20px;
    }

    .footer-content p {
        text-align: left;
        margin-bottom: 20px;
    }
}

.copyright-img {
    width: 12px;
    margin-right: .5rem;
}

.copyright-text {
    margin: 0;
    margin-right: auto;
}

.social-media {
    display: flex;
    align-items: center;
    min-width: 320px;
    justify-content: space-between;
}

.sm-icon {
    color: #555;
}

.sm-icon:hover {
    color: #6C63FF;
}

/* .wireframes li {
        margin-top: 20px;
        padding: 0 10px;
        font-size: 18px;
        margin: 10px 0 10px 15px;
        color: #656565;
}

.wireframes li::before {
    margin-left: -px;
    font-size: 18px;
} */

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  padding: 2rem 0 10rem 0;
}

#work {
    transition: all 2s;
}

.cell-hero-left {
    background-color: none;
    grid-area: left;
    padding: 1rem;
 }

 .cell-hero-left .intro {
     width: 100%;
     font-size: 1.5rem;
     color: white;
 }

 .cell-hero-right {
    grid-area: right;
 }

 .care-hero-left .care-intro{
     width: 100%;
     font-size: 1.5rem;
     color: #737373;
 }

.mobile, .small {
    display: none;
}

@media (max-width: 530px) {
    .desktop {
        display: none;
    }

    .small {
        display: block;
        text-align: right;
    }

    .small ul {
        left: auto;
        right: 0;
      }

      .small .dropdown li {
        background-color: rgba(255,255,255,.9);
        right: 0;
        left: auto;
        text-align: center;
        padding: 50px;
      }

      .small .dropdown li:hover {
        background-color: rgba(111,111,111,.9);
      }

      .small .dropdown a {
        color: #000;
      }

    ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        margin-top: 1rem;
        top: -20px;
        left: 0;
        transform: translateY(-2em);
        z-index: -1;
    }

    ul li:hover > ul,
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
        transition: all 0.3s;
        transform: translateY(0%);
        z-index: 1;
        width: 100%;
    }

    .mobile {
        display: flex;
        width: 150px;
    }

    .biglink, .logos, .octa-hero .biglink, .homebtn, #herobtn {
        width: 100%;
    }

    .main-logo {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.sili-pink {
    color: #EC30AB;
}

/* Silicandy Home */
.silicandy-home {
    margin-bottom: 40px;
    background-image: url(/images/silicandy-hero-1.png);
    background-size: cover;
    height: 80vh;
    min-height: 456px;
    overflow: hidden;
    padding: 0 0;
    background-color: none;
    background-repeat: no-repeat;
    background-color: #eeeeee;
    display: flex;
    align-content: center;
}

.silicandy-home__content-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    margin-left: calc(10vw - 40px);
    padding: 0 40px;
}

.silicandy-home__logo, .myclickshift-home__logo {
    width: 100%;
}

@media (min-width: 500px) {
    .silicandy-home__logo, .myclickshift-home__logo {
        width: 30vw;
        min-width: 350px;
    }
}

.silicandy-home__description-text, .myclickshift-home__description-text {
    color: #737373;
    font-size: 24px;
    font-weight: 300;
    max-width: 470px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .silicandy-home__description-text {
        color: rgb(0, 0, 0);
    }
}

.page-heading + p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.animated-text {
    height: 88px;
    padding: 20px 0;
    display: inline;
}

.main-titles {
    display: flex;
}

.animated-text .line, .main-titles .ux {
    font-size: 60px;
    font-weight: bold;
    color: #6c63ff;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 48px;
    background-color: white;
}

.main-titles .ux {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.animated-text span {
    animation: rotateWords 12s linear infinite 0s;
    position: absolute;
    opacity: 0;
}
.animated-text span:nth-child(2) {
	animation-delay: 3s;
}
.animated-text span:nth-child(3) {
	animation-delay: 6s;
}
.animated-text span:nth-child(4) {
	animation-delay: 9s;
}

@keyframes rotateWords {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Mobile nav */
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 #menuToggle
 {
   display: block;
   position: absolute;
   top: 50px;
   right: 50px;

   z-index: 1;

   -webkit-user-select: none;
   user-select: none;
 }

 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;

   cursor: pointer;

   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */

   -webkit-touch-callout: none;
 }

 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;

   background: #555555;
   border-radius: 3px;

   z-index: 1;

   transform-origin: 4px 0px;

   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }

 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }

 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }

 /*
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #6c63ff;
 }

 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }

 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   opacity: 1;
   transform: rotate(-45deg) translate(0, -1px);
 }

 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    top: 45px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }

 /*
  * And let's fade it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: scale(1.0, 1.0);
   opacity: 1;
 }

 /* Topic section */

 .topic-section__wrapper {
     display: flex;
 }

 .topic-section {
    margin-right: 1rem;
    min-width: 150px;
    max-width: 350px;
}

@media (max-width: 1250px) {
    .topic-section__wrapper {
       flex-direction: column;
    }
}

.gray-bg-section {
    padding: 2rem 1rem;
    background: #eee;
    margin-bottom: 1rem;
}

.long-heading {
    margin-bottom: 20px;
    line-height: 2rem;
}
