/* Padding */

.p0  { padding:        0 !important; }
.pt0 { padding-top:    0 !important; }
.pr0 { padding-right:  0 !important; }
.pb0 { padding-bottom: 0 !important; }
.pl0 { padding-left:   0 !important; }

.px0 { padding-left:   0 !important; padding-right:  0 !important; }
.py0 { padding-top:    0 !important; padding-bottom: 0 !important; }


.p1  { padding:       .25rem; }
.py1 { padding-top:   .25rem; padding-bottom: .25rem; }
.px1 { padding-left:  .25rem; padding-right:  .25rem; }

.p2  { padding:       .5rem; }
.py2 { padding-top:   .5rem; padding-bottom: .5rem; }
.px2 { padding-left:  .5rem; padding-right:  .5rem; }

.p3  { padding:       .75rem; }
.py3 { padding-top:   .75rem; padding-bottom: .75rem; }
.px3 { padding-left:  .75rem; padding-right:  .75rem; }

.p4  { padding:       1rem; }
.py4 { padding-top:   1rem; padding-bottom: 1rem; }
.px4 { padding-left:  1rem; padding-right:  1rem; }

.p1  { padding:        .25rem-px; }
.pt1 { padding-top:    .25rem-px; }
.pr1 { padding-right:  .25rem-px; }
.pb1 { padding-bottom: .25rem-px; }
.pl1 { padding-left:   .25rem-px; }

.p2  { padding:        .5rem-px; }
.pt2 { padding-top:    .5rem-px; }
.pr2 { padding-right:  .5rem-px; }
.pb2 { padding-bottom: .5rem-px; }
.pl2 { padding-left:   .5rem-px; }

.p3  { padding:        .75rem-px; }
.pt3 { padding-top:    .75rem-px; }
.pr3 { padding-right:  .75rem-px; }
.pb3 { padding-bottom: .75rem-px; }
.pl3 { padding-left:   .75rem-px; }

.p4  { padding:        1rem-px; }
.pt4 { padding-top:    1rem-px; }
.pr4 { padding-right:  1rem-px; }
.pb4 { padding-bottom: 1rem-px; }
.pl4 { padding-left:   1rem-px; }

.p1  { padding:        .25rem; }
.pt1 { padding-top:    .25rem; }
.pr1 { padding-right:  .25rem; }
.pb1 { padding-bottom: .25rem; }
.pl1 { padding-left:   .25rem; }

.p2  { padding:        .5rem; }
.pt2 { padding-top:    .5rem; }
.pr2 { padding-right:  .5rem; }
.pb2 { padding-bottom: .5rem; }
.pl2 { padding-left:   .5rem; }

.p3  { padding:        .75rem; }
.pt3 { padding-top:    .75rem; }
.pr3 { padding-right:  .75rem; }
.pb3 { padding-bottom: .75rem; }
.pl3 { padding-left:   .75rem; }

.p4  { padding:        1rem; }
.pt4 { padding-top:    1rem; }
.pr4 { padding-right:  1rem; }
.pb4 { padding-bottom: 1rem; }
.pl4 { padding-left:   1rem; }

/* Margin */

.m0  { margin:        0 !important; }
.mt0 { margin-top:    0 !important; }
.mr0 { margin-right:  0 !important; }
.mb0 { margin-bottom: 0 !important; }
.ml0 { margin-left:   0 !important; }

.mx0 { margin-left:   0 !important; margin-right:  0 !important; }
.my0 { margin-top:    0 !important; margin-bottom: 0 !important; }


.m1  { margin:       .25rem; }
.my1 { margin-top:   .25rem; margin-bottom: .25rem; }
.mx1 { margin-left:  .25rem; margin-right:  .25rem; }

.m2  { margin:       .5rem; }
.my2 { margin-top:   .5rem; margin-bottom: .5rem; }
.mx2 { margin-left:  .5rem; margin-right:  .5rem; }

.m3  { margin:       .75rem; }
.my3 { margin-top:   .75rem; margin-bottom: .75rem; }
.mx3 { margin-left:  .75rem; margin-right:  .75rem; }

.m4  { margin:       1rem; }
.my4 { margin-top:   1rem; margin-bottom: 1rem; }
.mx4 { margin-left:  1rem; margin-right:  1rem; }

.m1  { margin:        .25rem-px; }
.mt1 { margin-top:    .25rem-px; }
.mr1 { margin-right:  .25rem-px; }
.mb1 { margin-bottom: .25rem-px; }
.ml1 { margin-left:   .25rem-px; }

.m2  { margin:        .5rem-px; }
.mt2 { margin-top:    .5rem-px; }
.mr2 { margin-right:  .5rem-px; }
.mb2 { margin-bottom: .5rem-px; }
.ml2 { margin-left:   .5rem-px; }

.m3  { margin:        .75rem-px; }
.mt3 { margin-top:    .75rem-px; }
.mr3 { margin-right:  .75rem-px; }
.mb3 { margin-bottom: .75rem-px; }
.ml3 { margin-left:   .75rem-px; }

.m4  { margin:        1rem-px; }
.mt4 { margin-top:    1rem-px; }
.mr4 { margin-right:  1rem-px; }
.mb4 { margin-bottom: 1rem-px; }
.ml4 { margin-left:   1rem-px; }

.m1  { margin:        .25rem; }
.mt1 { margin-top:    .25rem; }
.mr1 { margin-right:  .25rem; }
.mb1 { margin-bottom: .25rem; }
.ml1 { margin-left:   .25rem; }

.m2  { margin:        .5rem; }
.mt2 { margin-top:    .5rem; }
.mr2 { margin-right:  .5rem; }
.mb2 { margin-bottom: .5rem; }
.ml2 { margin-left:   .5rem; }

.m3  { margin:        .75rem; }
.mt3 { margin-top:    .75rem; }
.mr3 { margin-right:  .75rem; }
.mb3 { margin-bottom: .75rem; }
.ml3 { margin-left:   .75rem; }

.m4  { margin:        1rem; }
.mt4 { margin-top:    1rem; }
.mr4 { margin-right:  1rem; }
.mb4 { margin-bottom: 1rem; }
.ml4 { margin-left:   1rem; }
